[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=boss
Group=www-data
WorkingDirectory=/home/boss/dev/OrangeZeroFullApp/backend
ExecStart=/home/boss/dev/OrangeZeroFullApp/backend/.venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          core.wsgi:application

[Install]
WantedBy=multi-user.target
